.main > .section {
  margin: 0 20vw 50px 20vw;
}

.sectionTitle {
  text-align: center;
  padding: 25px 0;
}

.imageTextContainer {
  display: flex;
  flex-direction: row;
}

.imageTextContainer .imageContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

.imageTextContainer .imageContainer .image {
  position: absolute;
  object-fit: cover;
}

.imageTextContainer .mapContainer {
  flex: 1;
  display: flex;
}

.imageTextContainer .mapContainer .map {
  flex-grow: 1;
}

.imageTextContainer .textContainer {
  flex: 1;
  min-height: 300px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.textContainerContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainerTitle {
  text-align: center;
  margin-bottom: 25px;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main > .section {
    margin: 0 10vw 50px 10vw;
  }
}


/* Mobile */
@media (max-width: 700px) {
  .main > .section {
    margin: 0 10px 50px 10px;
  }

  .imageTextContainer {
    flex-direction: column;
  }

  .map {
    min-height: 400px;
  }

  .imageTextContainer .textContainer {
    min-height: 200px;
  }
}


/* Texte défilant */
.messageDefilantContainer {
  padding: 10px 0;
  overflow: hidden;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(0, 119, 119);
}

.messageDefilant {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}